<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.petkit.matetool"
          android:versionCode="1900"
          android:versionName="3.3.5">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.usb.host"/>

    <uses-permission android:name="android.hardware.usb.accessory"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <application
        android:name=".ui.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.StartActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.mate.SelectActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".ui.mate.MainActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".ui.mate.InputActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".ui.mate.SpotActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".ui.mate.SettingActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".ui.mate.WriteSnActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".ui.mate.ImageTestActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".ui.mate.FocusTestActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".ui.mate.PlayActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".ui.mate.BroadcastDisplayActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".ui.permission.PermissionDialogActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/petkit_theme_dialog">
        </activity>
        <activity android:name=".ui.go.GoTestMainActivity" android:screenOrientation="fullSensor"/>

        <activity android:name=".ui.print.PrintActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.feeder.FeederStartActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.feeder.FeederTestMainActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.feeder.FeederTestDetailActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.feeder.FeederTestPrepareActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.feeder.FeederErrorListActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.feeder.FeederScanActivity" android:screenOrientation="fullSensor"/>
        <activity android:name=".ui.feeder.FeederStorageActivity" android:screenOrientation="fullSensor"/>
        <activity android:name=".ui.feeder.FeederStorageFileActivity" android:screenOrientation="fullSensor"/>

        <!-- Device -->
        <activity android:name=".ui.cozy.CozyStartActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.cozy.CozyTestMainActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.cozy.CozyTestDetailActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.cozy.CozyTestPrepareActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.cozy.CozyErrorListActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.cozy.CozyScanActivity" android:screenOrientation="fullSensor"/>
        <activity android:name=".ui.cozy.CozyStorageActivity" android:screenOrientation="fullSensor"/>
        <activity android:name=".ui.cozy.CozyStorageFileActivity" android:screenOrientation="fullSensor"/>

        <!-- Feeder Mini -->
        <activity android:name=".ui.feederMini.FeederMiniStartActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.feederMini.FeederMiniTestMainActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.feederMini.FeederMiniTestDetailActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.feederMini.FeederMiniTestPrepareActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.feederMini.FeederMiniErrorListActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.feederMini.FeederMiniScanActivity" android:screenOrientation="fullSensor"/>
        <activity android:name=".ui.feederMini.FeederMiniStorageActivity" android:screenOrientation="fullSensor"/>
        <activity android:name=".ui.feederMini.FeederMiniStorageFileActivity" android:screenOrientation="fullSensor"/>

        <!-- T3 -->
        <activity android:name=".ui.t3.T3StartActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.t3.T3TestMainActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.t3.T3TestDetailActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.t3.T3TestPrepareActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.t3.T3ErrorListActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.t3.T3ScanActivity" android:screenOrientation="fullSensor"/>
        <activity android:name=".ui.t3.T3StorageActivity" android:screenOrientation="fullSensor"/>
        <activity android:name=".ui.t3.T3StorageFileActivity" android:screenOrientation="fullSensor"/>

        <!-- K2 -->
        <activity android:name=".ui.K2.K2StartActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.K2.K2TestMainActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.K2.K2TestDetailActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.K2.K2TestPrepareActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.K2.K2ErrorListActivity" android:screenOrientation="fullSensor" />
        <activity android:name=".ui.K2.K2ScanActivity" android:screenOrientation="fullSensor"/>
        <activity android:name=".ui.K2.K2StorageActivity" android:screenOrientation="fullSensor"/>
        <activity android:name=".ui.K2.K2StorageFileActivity" android:screenOrientation="fullSensor"/>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5637205067e58e76b6001e76"/>

        <service
            android:name="com.petkit.matetool.service.DatagramProcessService"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name="com.petkit.android.ble.service.AndroidBLEActionService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name="com.petkit.android.ble.samsung.SSBluetoothLeService"
            android:enabled="true"/>
        <service
            android:name="com.petkit.android.ble.service.ActivityDataProcessService"
            android:enabled="true"/>
    </application>

</manifest>
