<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.petkit.matetool"
          android:versionCode="400"
          android:versionName="3.0.1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.usb.host"/>

    <uses-permission android:name="android.hardware.usb.accessory"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23"/>

    <application
        android:name=".ui.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.mate.SelectActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.mate.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.mate.InputActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.mate.SpotActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.mate.SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.mate.WriteSnActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.mate.ImageTestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.mate.FocusTestActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ui.mate.PlayActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.mate.BroadcastDisplayActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.feeder.FeederStartActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.feeder.PrintActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.feeder.FeederTestMainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.feeder.FeederTestDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.feeder.FeederTestPrepareActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.feeder.FeederErrorListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.permission.PermissionDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/petkit_theme_dialog">
        </activity>
        <activity
            android:name=".ui.catlitter.CatLitterMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.feeder.FeederScanActivity"
                  android:screenOrientation="portrait"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5637205067e58e76b6001e76"/>

        <service
            android:name="com.petkit.matetool.service.DatagramProcessService"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name="com.petkit.android.ble.service.AndroidBLEActionService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name="com.petkit.android.ble.samsung.SSBluetoothLeService"
            android:enabled="true"/>
        <service
            android:name="com.petkit.android.ble.service.ActivityDataProcessService"
            android:enabled="true"/>
    </application>

</manifest>
